:root {
    --mainColour: rgba(0,0,0,0.88);
    --secondaryColour: #231F20;
    --borderColour: #c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;
    --previewBG: rgb(50, 53, 53, 0.8);
    --previewShadow: #4b5156;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--secondaryColour);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration:none;
    color:#17a2b8;
}

u1{
    list-style:none;

}

h1 {
    font-size: 56px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}


.s1{
    background-color: var(--mainColour);
    border-bottom:1px solid var(--borderColour);
    overflow:auto
}

.s2 {
    background-color: var(--secondaryColour);
    border-bottom: 1px solid var(--borderColour);
    overflow: auto
}



.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColour);
    border: 1px solid var(--borderColour);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: -7px 8px 15px 5px rgba(0,0,0,0.88);
    box-shadow: -7px 8px 15px 5px rgba(0,0,0,0.88);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 30em;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column'
        ;
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColour);
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.invert {
    filter: invert(100%);
}

.left-column 
{
    grid-area:left-column;
    padding-top:50px;
    padding-bottom: 50px;
   
}

.picture-border {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 25px;
    grid-area: picture-border;
    border-top: 2px solid var(--borderColour);
    border-left: 2px solid var(--borderColour);
    border-right: 2px solid var(--borderColour);
    background-color: #c1c1c1;
}

#leon 
{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColour);
}

#theme-options-wrapper 
{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.theme-dot 
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-box-shadow: -7px 8px 15px 5px rgba(0,0,0,0.88);
    box-shadow: -7px 8px 15px 5px rgba(0,0,0,0.88);
    background-color: black;

    margin: 5px;
    border:2px solid var(--themeDotBorder);
}

.theme-dot:hover
{
    border-width: 5px;
}

#dark-mode
{
    background-color: rgba(0,0,0,0.88);
}

#light-mode
{
    background-color: #fff;
}

#blue-mode
{
    background-color: #192734;
}

#purple-mode
{
    background-color: #6a0dad;
}

.right-column  
{
    grid-area:right-column;
    display:grid;
    align-content: center;

    padding-top:50px;
    padding-bottom:50px;
    
}
#preview-shadow{
    background-color: var(--previewShadow);
    width:300px;
    height:180px;
    padding-left: 30px;
    padding-top: 30px;
}
#preview{
    width:300px;
    border:1.5px solid white;
    padding:25px;
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;

}

.corner{
    width:7px;
    height:7px;
    border-radius:50%;
    border: 1.5px solid black;
    background-color: white;
    position: absolute;
}

#corner-tl{
    top:-5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    left: -5px;
}

@media screen and (max-width: 1200px)
{
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 5em 30em;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column';
    }

    .right-column{
        justify-content:center;

    }
}